<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410366735513-toko243q893fpbuarj5t70o1lj1uiadk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410366735513-toko243q893fpbuarj5t70o1lj1uiadk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>410366735513-ms8o83cq8f8j0547ev2fnkvf0bf0ihh2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsXCJUS68VT_lYRiXSjSvA7hzWptV1ugk</string>
	<key>GCM_SENDER_ID</key>
	<string>410366735513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.cyclane</string>
	<key>PROJECT_ID</key>
	<string>cyclane-421014</string>
	<key>STORAGE_BUCKET</key>
	<string>cyclane-421014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410366735513:ios:6bd0dbdcac80fec8cc7408</string>
</dict>
</plist>